#comments-middleware-view textarea {
    resize: vertical !important;
    min-height: 120px;
    width: 100%;
    font-family: sans-serif;
    border-radius: 4px;
    font-size: 16px;
    border: solid 1px lightgray;
    margin: 4px;
}

#comments-middleware-view input {
    border-radius: 4px;
    border: solid 1px lightgray;
    margin: 4px;
    font-size: 20px;
}

#comments-middleware-view .comment-description {
    margin: 0 8px;
}

#comments-middleware-view button {
    width: 90px;
    border-radius: 4px;
    border: solid 1px gray;
    padding: 8px;
}

#comments-middleware-view button:hover {
    background-color: aliceblue;
}

#comments-middleware-view div.comment-preview {
    border: solid gray 1px;
    margin: 5px 0px 5px 5px;
    padding: 5px;
}